.header1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #20606F;
    height: 80px;
    border-bottom: 3px solid black;
    box-shadow: 0px 5px 20px black;

    .login {
        .Link {
            color: #110b11;
            text-decoration: none;
        }
    }


    .PageAtualHome {
        border-radius: 25px;
        background-color: #5fad56;
        padding: 10px 20px;
        text-align: center;
        border: 1px solid black;
        box-shadow: -2px 4px 3px black;
        max-width: 35%;

        h1 {
            font-size: 1.2rem;
            margin: 0;

            .Link {
                color: #110b11;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .header1 {
        flex-direction: row;
        font-size: 10px;
    }
}