.modal {
    position: absolute;
    width: 500px;
    height: 550px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    display: flex;
    flex-direction: column;
    background-color: #09616bf1;
    box-shadow: -3px 5px 10px #01262b;
    border-radius: 25px;
    transition: 150ms;
    border: 2px solid #181818;

     .enviar {
        padding: 5px;
        text-align: center;
        width: 400px;
        min-height: 400px;
        height: 110%;
        margin-top: 5%;
        margin-left: 10%;
        overflow: hidden;

        h3 {
            color: #fff;
            margin: 15px 0 5px 0;
        }

        input {
            padding: 10px;
            width: 100%;
            border-radius: 8px;
            border: 1px solid #333;
            margin-bottom: 15px;
            text-align: center;
            background-color: #f5f5f5;
            transition: 0.3s;

            &:focus {
                outline: none;
                border-color: #0f4ba5;
                box-shadow: 0px 0px 5px #0579af;
            }
        }
        
        .botao{
            height: 35px;
            text-align: center;
            overflow: hidden;
        }
    }
    .Fechar{
        overflow: hidden;
        width: 50%;
        margin-left: 26%;
    }
}