.header2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0b686e;
        height: 60px;
        width: 100%;
        border-bottom: 3px solid black;
        box-shadow: 0px 5px 20px black;
        padding: 0 20px;
        flex-direction: row;

        .PageAtualEnviar {
            border-radius: 25px;
            background-color: #5fad56;
            padding: 10px 20px;
            text-align: center;
            border: 1px solid black;
            box-shadow: -2px 4px 3px black;
            position: relative;
            left: 50%;
            transform: translate(-50%);

            h1 {
                font-size: 1.2rem;
                margin: 0;

                .Link {
                    color: #110b11;
                    text-decoration: none;
                }
            }
        }

        .benedito2{
            left: 0%;
        }

        .Voltar {
            margin: 0;

            .Link {
                color: #110b11;
                text-decoration: none;
                font-weight: bold;
            }
        }

        .Login{
            a{
                color: #110b11;
                text-decoration: none;
            }
        }
    }