.acess{
    background-color: #057280f8;
    box-shadow: -3px 5px 10px #01262b;
    border: 2px solid #181818;
    color: #f5f5f5;

    position: relative;
    width: 75%;
    height: 320px;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    transition: 450ms;

    .text{
        display: flex;
        text-align: center;
        gap: 25px;
        flex-direction: row;
        align-items: center;
        width: 90%;
        margin-left: 5%;
        margin-top: 2%;
    }

    .pt1, .pt3{
        font-size: 1.13rem;
        width: 100%;
    }

    select{
        width: 180px;
        border-radius: 5px;
    }

    .pt3{
        width: 80px;
    }

    .botoes{
        position: fixed;
        display:flex;
        justify-content: space-around;
        margin-top: 10%;
        width: 100%;
    }

    .chamados{
        display: flex;
        flex-direction: column;
        margin-top: 50px;

        .chamado{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .pt1,.pt2{
                h2{
                    color: #ff9100;
                }
                width: 20%;
            }           
        }
    }
}