.main-home {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    text-align: center;

    .page-home {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        padding-top: 2%;
        width: 100%;

        .link{
            text-decoration: none;
            flex: 1 1 calc(33.33% - 2rem);
            padding: 10px;
            
            .dados {
                flex: 1 1 calc(33.33% - 2rem);
                display: flex;
                flex-direction: column;
                padding: 10px;
                margin-top: 3.3%;
                border-radius: 8px;
                box-shadow: -2px 3px 5px #02373d;
                background-color: #087f8c83;

            h2 {
                padding-top: 7px;
                color: #ff9100;
            }

            h3 {
                color: #bec2bf;
            }
        }
        }
    }

    .botoes{
        display: flex;
        justify-content: space-around;
    }

    .open{
        filter: blur(15px);
    }
}

@media (max-width: 768px) {
    .main-home {
        .page-home {
            .dados {
                flex: 1 1 calc(50% - 1rem);
            }
        }
    }
}

@media (max-width: 468px) {
    .main-home {
        .page-home {
            .dados {
                flex: 1 1 100%;
            }
        }
    }
}